html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

nav {
  width: 100%;
  margin: 0 auto;
}
.navbar {
  width: 100%;
  height: 150px;
  display: flex;
  margin: 0px 0px 0px 100px;
  justify-content: flex-start;
}

.nav-links {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.navitem {
  display: inline-block;
  justify-content: space-between;
  padding: 0px 40px 0px 50px;
  font-family: 'Poppins',sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #3f663c;
  margin: 0px 10px 0px 10px;
  font-weight: bold;
}

#siteLogo {
  height: 120px;
  width: auto;
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #3f663c;
  display: table-cell;
  vertical-align: middle;
}
label, h2, button {
  border: 2px solid #026816;
  color: white;
  background-color: #80b48b;
  margin: 5px;
  text-align: center;

}
button, input {
  height: 30px;
  width: 125px;
  text-align: center;
  font-size: 12px;
}

label {
  padding: 5px;
}

button:hover {
  background-color: #bd8034;
}

li {
  text-align: center;
  align-self: center;
}

.signupBar {
  background: rgba(183, 183, 183, 0.5);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  margin: 0 auto;
}

.contentWrapper {
  width: 1200px;
  height: 1400px;
  display: flex;
  justify-content: space-around;
  background: url(BACKGROUND-TRANSPARENCY.png) center center fixed;
  background-size: contain;
}

.postContainer {
  flex: 2;
  padding: 5px;
  margin: 10px;
}

.postForm {
  width: 195px;
  height: 195px;
  background-color: rgba(229, 229, 229, 0.6);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.allPosts {
  margin: 10px auto;
display: grid;
height: 700px;
width: 80%;
overflow-y: scroll;
border: 3px solid #9EA3A0;
background-color: white;
border: none;
box-shadow: 0px 20px 30px #393985;
margin-bottom: 100px;
}

.userContainer {
  flex: 1;
  padding: 5px;
  margin: 10px;
}

.profileForms {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(229, 229, 229, 0.6);
  margin: 5px 0px 5px 0px;
}

.profilePosts {
  background-color: rgba(229, 229, 229, 0.6);
    margin: 75px 0px 15px 0px;

}
​
footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer {
  background-color: rgba(229, 229, 229, 0.6);
  height: 35px;
  width: 100%;
  text-align: center;
}
